@font-face {
  font-family: "CS Auth Serif";
  src: url("../../../assets/auth/fonts/cs-auth-serif-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "CS Auth Sans";
  src: url("../../../assets/auth/fonts/cs-auth-sans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "CS Auth Sans";
  src: url("../../../assets/auth/fonts/cs-auth-sans-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
